[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
    font-size: 24px;
    font-family: Copperplate, fantasy;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: lime;
}

.tab:hover {
    background-color: blue;
}

.tabs-stuff {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, sans-serif;
}
